body{
    margin: 0px;
}

.effectWrapper{
    position: absolute;
    color: white;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 1.2rem;
    z-index: 20;
    background: rgba(0,0,0,0.7);
    display:flex;
    align-items: center;
    animation: floatUp 2.5s forwards;
}



.effectWrapper img{
    width: 2rem;
}

@keyframes floatUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}