body{
    background-color: #EDA737;
    margin: 0px;
    padding:0px;
}

body::after{
    content: "";
    background-image: url("./assets/starpattern.png");
    position:absolute;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100vw;
    background-size: 3%;
    opacity: 40%;
    animation: pan 150s infinite;
}

@keyframes pan{
    0% {
        background-position: 0% 0%;
    }

    100%{
        background-position: 100% 100%;
    }
}