body{
    margin: 0px;
    padding: 0px;
}

.lobbyWrapper{
    position: relative;
    z-index: 5;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.blur{
    width: 60vw;
    height: 80vh;
    background-color: hsla(0, 0%, 0%, 0.58);
    border-radius: 15px;
    backdrop-filter: blur(2px);
    display:flex;
    align-items: center;
    padding: 5px 70px 5px 70px;
}

.chatWrapper{
    height: 80%;
    background-color: #252222;
    width: 45%;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.messages{
   height: 85%;
   display:flex;
   flex-direction: column;
   width: 90%;
   gap: 25px;
}

.chatWrapper form{
    height: 7%;
    width: 80%;
    display:flex;
    justify-content: center;
}

input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: solid 1px gray;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 5px 15px 5px 15px;
    color:white;
}