body{
    margin: 0px;
    padding: 0px;
}

.lobbyWrapper{
    position: relative;
    z-index: 5;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.blur{
    width: 60vw;
    height: 80vh;
    background-color: hsla(0, 0%, 0%, 0.58);
    border-radius: 15px;
    backdrop-filter: blur(2px);
    display:flex;
    align-items: center;
    padding: 5px 70px 5px 70px;
}

.chatWrapper{
    height: 80%;
    background-color: #252222;
    width: 90%;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.messages{
   height: 85%;
   display:flex;
   flex-direction: column;
   width: 90%;
   gap: 10px;
   overflow-y:scroll;
   scrollbar-width: none;
   
}

.chatWrapper form{
    height: 7%;
    width: 80%;
    display:flex;
    justify-content: center;
}

input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: solid 1px gray;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 5px 10px 5px 15px;
    color:white;
}

.settingsWrapper{
    height: 85%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.settingHeader{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.roomID{
    font-size: 2.5rem;
    margin: 0px;
    line-height: normal;
    height: 35px;
    width: 350px;
    text-align: center;
    padding: 15px 25px 25px 25px;
    border-radius: 15px;
    font-weight: bold;
    color: #252222;
    background-color: #DF9620;
    cursor:pointer;
}

.roomTitle{
    color:white;
    font-size: 2.5rem;
}

.startButton{
    width: 300px;
    height: 300px;
    font-size: 4rem;
    border-radius: 100%;
    transition-duration: 0.2s;
}

.startButton:hover{
    background-color: hsl(37, 75%, 65%);
    font-size: 4.5rem;
}



.msgLength{
    color:rgba(255, 255, 255, 0.712);
    width: 1rem;
    margin-left: 5px;
}