body{
    margin: 0px;
}

.bar{
    background-color: #252222;
    height: 20vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.itemList{
    font-size: 3rem;
    opacity: 40%;
    text-align: center;
}

.itemHave{
    font-size: 3rem;
    opacity: 100%;
    text-align: center;
}