.messageWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    color:white;
}

.messagerName{
    margin: 5px 5px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    color:hsla(37, 70%, 65%, 0.795);
    display:flex;
}

.messageContent {
    margin:0px;
    word-break: break-word;
    background-color: hsl(37, 80%, 45%);
    border-radius: 15px;
    font-size: 1.1rem;
    padding: 7px 15px 7px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:inline-block;
}


.identifier{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:25%;
}

.identifier img{
    width: 60%;
}
